/* style.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "proxima-nova", sans-serif;
    background: linear-gradient( 90deg, #000000, #313131);
}

/* Header styles */
#header {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
    border-bottom: #ffb700 5px solid;
}

.logo {
    width: 100px;
    height: auto;
    
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
}

/* Form styles */
#form-container {
    background-color: #302f2f;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    color: #ffffff;
    padding:10px;
    font-size: 20px;
}

.input,
.textarea {
    width: 100%;
    padding: 20px;
    border-radius:10px ; 
    resize: vertical;
}

.submit-btn {
    background-color: #ffb700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ffd900;
}


/* Code history styles */
.code-history-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#code-history-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.code-history-title
{
    color: #ffffff;
    padding: 10px;

}
.task {
    background-color: #ffb700cb;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

.file-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.read-more-link {
    color: #007bff;
    text-decoration: none
}

.read-more-link:hover {
    text-decoration: underline;
}

.no-code-message {
    text-align: center;
    font-style: italic;
    color: #888;
}
